@{
    ViewData["Title"] = "Home Page";
}

<div class="content">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Iure consectetur ipsum perspiciatis? Consectetur iusto quia, aliquid enim sapiente id neque!
        
    </p>
    <p>
        Quibusdam natus modi id sunt illo voluptate ut quisquam sapiente incidunt labore temporibus maxime, rerum accusamus doloribus ipsum numquam error dolorem harum? Sapiente quo fugiat ullam ex ipsam non, sed, itaque, magnam velit numquam quod cupiditate harum dolor. Qui assumenda, libero corporis maxime nulla numquam a distinctio, ipsa necessitatibus labore minima quis porro suscipit aspernatur excepturi incidunt eos sit sint officiis recusandae perferendis beatae tenetur placeat nobis. Ullam at quo maiores, fugit praesentium beatae quod? Exercitationem distinctio repellendus architecto autem repellat. Dolores accusamus hic quo! Laudantium explicabo earum voluptate voluptatibus architecto modi ducimus cumque, porro quod, veritatis, ullam vel dolore animi deserunt pariatur quo. Delectus facilis quasi dignissimos et, nam aliquid illo id repudiandae, totam sit laborum, ducimus mollitia nemo nisi?
    </p>
    <p>Culpa velit quisquam modi distinctio labore. Cupiditate, reprehenderit ab. Aliquam in cumque quae ex a pariatur dolorem natus officiis suscipit soluta. Reiciendis repudiandae iure, dolores voluptate beatae mollitia culpa hic repellat expedita rerum officia quidem, accusantium corporis, necessitatibus dolor quae earum deleniti aliquam dicta vero labore. Alias necessitatibus veniam praesentium harum fuga placeat molestiae, consectetur sequi accusantium libero ipsam vitae blanditiis impedit quae. Nesciunt, sint? Magnam esse, obcaecati sapiente ipsam delectus facere amet minus adipisci debitis.</p>
    <p>Odit vel sunt maxime vero ab facilis perferendis voluptatibus facere numquam, delectus beatae eveniet voluptas amet, aliquam quas voluptatum cumque molestias unde eligendi omnis. Nobis eligendi tenetur, dolorum fugit nihil illo reprehenderit ipsa!</p>
</div>
