@import "custom";
@import "variables";

.song-list-container {
    border: 1px solid $border-color;
    border-radius: $border-radius;
    height: fit-content;
}

.song-list-group,
.song-list-group.list-group-flush {
    font-size: 90%;
    max-height: $library-widget-max-height;
    overflow: auto;

    .list-group-item:first-of-type {
        border-top: 1px solid $border-color;
    }

    .list-group-item:last-of-type {
        border-bottom-right-radius: $border-radius;
        border-bottom-left-radius: $border-radius;
    }
}

.song-viewer-container {
    padding-left: 1rem;
}

.song-viewer {
    padding: 1rem 2rem;
    border: 1px solid $border-color;
    border-radius: $border-radius;
}

.song-viewer-container {
    row-gap: 1rem;
}
