@import "fonts";
@import "variables";

// Customize Bootrap variables

// 1. Include functions first (so you can manipulate colors, SVGs, calc, etc)
@import "bootstrap/scss/functions";

// 2. Include any default variable overrides here
$body-bg: $sl-brown-lighterer;
$headings-font-family: "Antic Didone", serif; 
$dropdown-link-hover-bg: #f3efe8;
$font-size-base: 1.125rem;
$border-color: $sl-brown-lighter;

// 3. Include remaining bootstrap stylesheets
@import "bootstrap/scss/bootstrap";
