@import "fonts";
@import "custom";
@import "variables";

// Main nav
.navbar-brand {
    font-family: "Antic Didone", serif;
}

.navbar-brand.setliszt-brand {
    position: absolute;
    top: 0;
    right: 0;
    // padding-left: calc($nav-link-padding-x + 0.75rem);
    // padding-right: 1rem;

    @include media-breakpoint-up(sm) {
        top: unset;
        left: 0;
    }
}

.sl-nav-container {
    position: relative;

    @each $bp, $max-width in $container-max-widths {
        @include media-breakpoint-up($bp) {
            max-width: $max-width;
        }
    }
}

.sl-nav-main {
    border-bottom: 1px solid $grey;
    padding-left: 0;
    padding-right: 0;

    @include media-breakpoint-up(sm) {
        padding-left: 2rem;
        padding-right: 2rem;
    }
}

// Sidebar
.sl-sidebar {
    min-width: 200px;
    display: flex;
    justify-content: start;

    .nav-link {
        color: $body-color;

        &:hover {
            text-decoration: underline;
        }
    }
}
