// primary
$sl-primary-darkest: #1c2126;
$sl-primary-darker: #3a434b;
$sl-primary-dark: #3a5164;
$sl-primary: #5a80a0;
$sl-primary-light: #8ea8be;
$sl-primary-lighter: #c3d2df;
$sl-primary-lightest: #e2e9ee;

// Brown theme
$sl-brown-darkest: #211c12;
$sl-brown-darker: #463a25;
$sl-brown-dark: #715f3d;
$sl-brown: #9f8556;
$sl-brown-light: #c2b08e;
$sl-brown-lighter: #daceb9;
$sl-brown-lighterer: #e8e1d4;
$sl-brown-lightest: #efebe2;

// Secondary theme
$sl-secondary-darkest: #2b2b18;
$sl-secondary-darker: #524532;
$sl-secondary-dark: #776f28;
$sl-secondary: #bea23c;
$sl-secondary-light: #d3ba78;
$sl-secondary-lighter: #ece3c2;
$sl-secondary-lightest: #f4f4dc;

// greys
$sl-grey-darkest: #262622;
$sl-grey-darkerer: #35352c;
$sl-grey-darker: #4e4f40;
$sl-grey-dark: #767769;
$sl-grey: #b5b6a0;
$sl-grey-light: #cbccb3;
$sl-grey-lighter: #e7e8d4;
$sl-grey-lighterer: #f6f7e9;
$sl-grey-lightest: #fffffa;

// info
$sl-info-darkest: #0e1b19;
$sl-info-darker: #315e56;
$sl-info-dark: #437f74;
$sl-info: #54a094;
$sl-info-light: #84c2b9;
$sl-info-lighter: #9cd3cb;
$sl-info-lightest: #ceedea;

// success
$sl-success-darkest: #18251b;
$sl-success-darker: #375338;
$sl-success-dark: #3e6f42;
$sl-success: #6cb771;
$sl-success-light: #86cb8f;
$sl-success-lighter: #abdeab;
$sl-success-lightest: #dff7df;

// warning
$sl-warning-darkest: #40400d;
$sl-warning-darker: #89891a;
$sl-warning-dark: #c7c223;
$sl-warning: #f0ea47;
$sl-warning-light: #f4eb6c;
$sl-warning-lighter: #f8f68b;
$sl-warning-lightest: #fbfbc1;

// danger
$sl-danger-darkest: #250d09;
$sl-danger-darker: #632a1c;
$sl-danger-dark: #873826;
$sl-danger: #df583a;
$sl-danger-light: #e2735a;
$sl-danger-lighter: #e79583;
$sl-danger-lightest: #f7cfc5;

$library-widget-max-height: 800px;
