// primary
$primary-darkest: #1c2126;
$primary-darker: #3a434b;
$primary-dark: #3a5164;
$primary: #5a80a0;
$primary-light: #8ea8be;
$primary-lighter: #c3d2df;
$primary-lightest: #e2e9ee;

// greys
$grey-darkest: #262622;
$grey-darkerer: #35352c;
$grey-darker: #4e4f40;
$grey-dark: #767769;
$grey: #b5b6a0;
$grey-light: #cbccb3;
$grey-lighter: #e7e8d4;
$grey-lighterer: #f6f7e9;
$grey-lightest: #fffffa;

// info
$info-darkest: #0e1b19;
$info-darker: #315e56;
$info-dark: #437f74;
$info: #54a094;
$info-light: #84c2b9;
$info-lighter: #9cd3cb;
$info-lightest: #ceedea;

// success
$success-darkest: #18251b;
$success-darker: #375338;
$success-dark: #3e6f42;
$success: #6cb771;
$success-light: #86cb8f;
$success-lighter: #abdeab;
$success-lightest: #dff7df;

// warning
$warning-darkest: #40400d;
$warning-darker: #89891a;
$warning-dark: #c7c223;
$warning: #f0ea47;
$warning-light: #f4eb6c;
$warning-lighter: #f8f68b;
$warning-lightest: #fbfbc1;

// danger
$danger-darkest: #250d09;
$danger-darker: #632a1c;
$danger-dark: #873826;
$danger: #df583a;
$danger-light: #e2735a;
$danger-lighter: #e79583;
$danger-lightest: #f7cfc5;

$library-widget-max-height: 800px;
