// primary
$primary-darkest: #14222f;
$primary-darker: #2d4457;
$primary-dark: #195284ff;
$primary: #2583d6ff;
$primary-light: #67a9e3ff;
$primary-lighter: #aed4f5ff;
$primary-lightest: #daeaf8ff;

// greys
$grey-darkest: #262622;
$grey-darkerer: #35352c;
$grey-darker: #4e4f40;
$grey-dark: #767769;
$grey: #b5b6a0;
$grey-light: #cbccb3;
$grey-lighter: #e7e8d4;
$grey-lighterer: #f6f7e9;
$grey-lightest: #fffffa;

// info
$info-darkest: #08211dff;
$info-darker: #1d7364ff;
$info-dark: #289c88ff;
$info: #32c4abff;
$info-light: #66dfcbff;
$info-lighter: #84ecdbff;
$info-lightest: #c1fbf2ff;

// success
$success-darkest: #152816ff;
$success-darker: #2f5931ff;
$success-dark: #317c36ff;
$success: #57ca5fff;
$success-light: #74dc7cff;
$success-lighter: #9feca4ff;
$success-lightest: #dafddcff;

// warning
$warning-darkest: #35331bff;
$warning-darker: #747038ff;
$warning-dark: #b0a94aff;
$warning: #f5eb57ff;
$warning-light: #faf07fff;
$warning-lighter: #fef8a4ff;
$warning-lightest: #fffddaff;

// danger
$danger-darkest: #2a0b04ff;
$danger-darker: #712210ff;
$danger-dark: #972e16ff;
$danger: #fa4921ff;
$danger-light: #f86746ff;
$danger-lighter: #f88a72ff;
$danger-lightest: #ffc8bcff;

