<nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-body box-shadow mb-3">
    <div class="container-fluid sl-nav-container">
        <a class="navbar-brand setliszt-brand" asp-area="" asp-controller="Home" asp-action="Index">
            <img src="~/images/treble_clef.png" alt="trebel clef logo" width="40px" style="margin-right: -10px;">
            SetLiszt
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCenter"
            aria-controls="navbarCenter" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="navbar-collapse collapse justify-content-center" id="navbarCenter">
            <ul class="navbar-nav nav sl-nav-main">
                <li class="nav-item">
                    <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-dark" href="#">Docs</a>
                </li>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link text-dark dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button"
                        aria-expanded="false">Dropdown</a>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="#">Action</a></li>
                        <li><a class="dropdown-item" href="#">Another action</a></li>
                        <li><a class="dropdown-item" href="#">Something else here</a></li>
                        <li>
                            <hr class="dropdown-divider">
                        </li>
                        <li><a class="dropdown-item" href="#">Separated link</a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</nav>
