<nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light sl-nav box-shadow mb-3 border-bottom">
    <div class="container-fluid sl-nav-container">
        <a class="navbar-brand setliszt-brand" asp-area="" asp-controller="Home" asp-action="Index">
            <img src="~/images/treble_clef.png" alt="trebel clef logo" width="40px" style="margin-right: -10px;">
            SetLiszt
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCenter"
            aria-controls="navbarCenter" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="navbar-collapse collapse justify-content-center" id="navbarCenter">
            <ul class="navbar-nav nav sl-nav-main">
                <li class="nav-item d-flex flex-row">
                    @* <img src="~/images/icons/library_light.svg" alt="library icon" width="24px" class="me-0"> *@
                    <a class="nav-link text-dark" asp-area="" asp-controller="Library" asp-action="List">Library</a>
                </li>
                <li class="nav-item d-flex flex-row">
                    @* <img src="~/images/icons/projects_light.svg" alt="projects icon" width="24px" class="me-0"> *@
                    <a class="nav-link text-dark" href="#">Projects</a>
                </li>
                <li class="nav-item d-flex flex-row">
                    @* <img src="~/images/icons/gigs_light.svg" alt="gigs icon" width="24px" class="me-0"> *@
                    <a class="nav-link text-dark" href="#">Gigs</a>
                </li>
                <li class="nav-item d-flex flex-row">
                    @* <img src="~/images/icons/setlist_light.svg" alt="setlist icon" width="24px" class="me-0"> *@
                    <a class="nav-link text-dark" href="#">Sets</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
