<aside class="sl-sidebar">
    <ul class="nav flex-column">
        <li class="nav-item d-flex flex-row justify-content-start align-items-center">
            <img src="~/images/icons/library_light.svg" alt="library icon" width="24px" class="me-0">
            <a class="nav-link" href="#">Library</a>
        </li>
        <li class="nav-item d-flex flex-row justify-content-start align-items-center">
            <img src="~/images/icons/projects_light.svg" alt="projects icon" width="24px" class="me-0">
            <a class="nav-link" href="#">Projects</a>
        </li>
        <li class="nav-item d-flex flex-row justify-content-start align-items-center">
            <img src="~/images/icons/gigs_light.svg" alt="gigs icon" width="24px" class="me-0">
            <a class="nav-link" href="#">Gigs</a>
        </li>        
        <li class="nav-item d-flex flex-row justify-content-start align-items-center">
            <img src="~/images/icons/setlist_light.svg" alt="setlist icon" width="24px" class="me-0">
            <a class="nav-link" href="#">Sets</a>
        </li>
    </ul>
</aside>